@media only screen and (max-width:5000px) and (min-width:1024px) {

.header {
    .container {
        padding: 0px 0px 0px 0px;
    }

    &__nav {
        background: #F0F4F6;

    }

    &__nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-list {
        padding: 12px 8px;
        display: flex;
        gap: 28px;
    }

    &__nav-item {
        display: flex;
        gap: 28px;
        color: rgba(4, 15, 22, 0.9);
    }

    &__contact-list {
        display: flex;
        gap: 32px;
    }

    &__contact-item {
        color: #101010;
        font-weight: 800;
        font-size: 20px;
        line-height: 26px;
    }

    &__contact-item:last-child {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #008DC5;
        border-bottom:1px dashed;
    }

    &__container {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 64px;
        margin: 24px auto;
    }

    &__adress {
        :first-child {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #101010;
        }

        :last-child {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #558499;
        }
    }

    &__search {
        flex: auto;
        padding: 14px 24px;
        gap: 10px;
        border: 1px solid #CCDBE1;
        border-radius: 16px;
    }

    &__menu {
        background: #008DC5;

    }

    &__menu-container {
        display: flex;

    }

    &__menu-item {
        padding: 24px 0;
        flex: auto;
        display: flex;
        justify-content: center;
        color: #fff;
    }

    &__breadcrumbs {
        color: #003164 !important;
    }
}
}



.breadcrumbs {

    &__container {
        display: flex;
        gap: 12px;
        margin: 24px auto;

        :first-child {
            opacity: 0.5;
        }

        :not(:first-child)::before {
            content: '';
            display: inline-flex;
            background: #003164;
            border-radius: 40%;
            width: 4px;
            height: 4px;
        }
    }

    &__item {
        color: #003164;
        gap: 12px;
        display: inline-flex;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
}